# Configurações do Banco de Dados PostgreSQL
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=bluefox_spend
DB_PORT=5435

# URL do Prisma (usada localmente se rodar fora do Docker)
DATABASE_URL=postgresql://postgres:postgres@localhost:5435/bluefox_spend?schema=public

# Porta do Backend
PORT=3000
