###############################################################################
# Blue Fox Finance - Configurações de Desenvolvimento
###############################################################################

# Subir com docker-compose:
# docker compose -f docker-compose.yml -f docker-compose.dev.yml --env-file .env.dev up -d --build
# Parar os containers:
# docker compose -f docker-compose.yml -f docker-compose.dev.yml --env-file .env.dev down

# Ambiente
NODE_ENV=development

# Portas
PORT=3000
FRONTEND_PORT=4200
DB_PORT=5435

# Banco de Dados PostgreSQL
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=bluefox_finance
DATABASE_URL=postgresql://postgres:postgres@localhost:5435/bluefox_finance?schema=public

# Keycloak / OAuth2 Resource Server
KEYCLOAK_ISSUER_URI=http://localhost:8080/auth/realms/blue-fox-global-group

# Docker Network
DOCKER_NETWORK=infra-net
